body {
    margin: 0;
}

header {
    text-align: center;
    height: 50px;
    width: 310px;
    background-color: #CE6679;
}

header h2 {
    margin: 0;
	color: white;
}

h4{
	margin: 0;
	color: white;
}
.bubbleBox {
    height: 67.5px;
    width: 67.5px;
    margin: 0;
    padding: 0;
}

.bubbleButton {
    height: 100%;
    width: 100%;
    border: 1px gray solid;
    border-radius: 6px;
}

.bubbleWrapper {
    height: 205px;
    overflow-y: scroll;
    align-content: flex-start;
    display: grid;
    padding: 1px;
    grid-template-columns: 67.5px 67.5px 67.5px 67.5px;
    background-color: #DCDCDC;
    grid-column-gap: 7.5px;
    grid-row-gap: 7.5px;
    scrollbar-width: thin;
}

#myTitle {
    height: 30px;
    width: 310px;
    text-align: center;
    background-color: #CE6679;
}

.linkButton {
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:  #e5e8e8;
    border: 1px  #99a3a4 solid;
}

#nextButton {
    bottom: 10px;
    right: 10px;
    background: #90EE90; /* placeholder, should be changed for a picture */
}

#backButton {
    bottom: 10px;
    left: 10px;
}

#backButton:hover {
  background-color: lightblue;
}

#nextButton:hover {
  background-color: lightblue;
}



