#infoText {
    height: 270px;
    width: auto;
    border: 2px pink solid;
}

#buttonContainer {
    text-align: center;
}

#nextButton {
    height: 100px;
    width: auto;
    border: 2px pink solid;
}

.linkButton {
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:  #e5e8e8;
    border: 1px  #99a3a4 solid;
}

#backButton {
    bottom: 10px;
    left: 10px;
}

/* CSS for the progress bar -elements bellow. */

#headerItem {
    height: 35px;
    width: auto;
    border: 2px pink solid;
    border-bottom: none;
    text-align: center;
}

#headerTitle {
    position: relative;
    bottom: 10px;
}

.progressGrid {
    display: grid;
    height: 80px;
    width: auto;
    grid-template-columns: 97px 98px 97px;
    border: 2px pink solid;
    border-top: none;
    margin: auto;
}

.gridBox {
    height: 80px;
    width: auto;
}

.gridBox > hr {
    position: relative;
    bottom: 43px;
    width: 100%;
    height: 1px;
    background: black;
}

.progressCircle {
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    border: 2px black solid;
    background: white;
    height: 65px;
    width: 65px;
    margin: 0 auto;
    font-size: 11pt;
}

#pc1 {
    background: #90EE90;
}

#pc2 {
    background: #90EE90;
}

#pc3 {
    background: #6cc6c6
}
