.header{
  margin: 0;
  width: 310px;
  height: 40px;
  background: #CE6679;
	position: relative;
	left: -8px;
	top: -10px;	
}

.headertext{
    margin: 0px 4px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 20pt;	
	font-weight: bold;
	color: white;
	position: relative;
    top: 5px;
}

.bodytext{
  margin: 0px 0px;
text-align: center;
	font-family: Arial, sans-serif;
		font-size: 15pt;
}

	
/*#rating { font-size: 0; text-align: center; position: relative; top: 100px;}
#rating span { font-size: 40px; }
#rating span::before { content: "☆"; }
#rating span.active::before {content: "★"; }
#rating span:hover { cursor: pointer; }*/
	
 .star{
          color: goldenrod;
          font-size: 1.5rem;
	     
          /*padding: 0 1rem;  space out the stars */
        }
        .star::before{
          content: '\2606';    /* star outline */
          cursor: pointer;
        }
        .star.rated::before{
          /* the style for a selected star */
          content: '\2605';  /* filled star */
        }
        .stars{
            counter-reset: rateme 0;
            font-size: 1.5rem;
            font-weight: 900;
 			text-align: center;
        }
        .star.rated{
            counter-increment: rateme 1;
        }
        .stars::after{
            content: counter(rateme) '/5';
        }

.textbox{
	text-align: center;
}

.checkmarkbutton{
  background-color: lightgreen; /* Green */
  color: white;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px  #99a3a4 solid;
  left:132px;
  top: 540px;
}

.checkmarkbutton:hover {
  background-color: lightblue;
}



