h1 {
    text-align: center;
}

span {
    color: white;
}

#buttonWrapper {
    position: relative;
    top: 25px;
    text-align: center;
}

#rmButtonWrapper {
    position: relative;
    top: 200px;
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 6px;
    background-color: #F74AA5;
    font-size: 16px;
    text-align: center;
    width: 80%;
    padding: 10px 20px;
    margin: 10px 20px;
    border: none;
}
