<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/user/css/make_profile_1.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/user/js/make_profile_1.js" defer></script>
    
    	<meta charset="UTF-8">
    <title>make_profile_1</title>
  </head>
  <body>
    <section id="progress_section">
      <div id="headerItem">
	<h4 id="headerTitle">Profile Creation</h4>
      </div>
      <div class="progressGrid">
	<div class="gridBox">
	  <div class="progressCircle" id="pc1">Info</div>
	  <hr />
	</div>
	<div class="gridBox">
	  <div class="progressCircle" id="pc2">Picture</div>
	  <hr />
	</div>
	<div class="gridBox">
	  <div class="progressCircle" id="pc3">Bubbles</div>
	  <hr />
	</div>
      </div>
    </section>
    <section id="input_section">
      <form id="personal_info">
	<p>
	  <label for="fullname">Full name</label><br>
	  <input required type="text" id="fullname" name="fullname" placeholder="First- and Last name" v-model="fullname">
	</p>
	<p>
	  <label for="phone">Phone number</label><br>
	  <input required type="text" id="phone" name="phone" required="required" placeholder="Phone number" v-model="phone">
	</p>
	<p>
	  <label for="gender">Gender</label><br>
	  <select required id="gender" name="gender" v-model="gender">
	    <option disabled selected value>select an option</option>
	    <option>Female</option>
            <option>Male</option>
	  </select>
	</p>
	<p>
	  <label for="seeking">Seeking</label><br>
	  <select required id="seeking" name="seeking" v-model="seeking">
	    <option disabled selected value>select an option</option>
	    <option>Female</option>
            <option>Male</option>
	  </select>
	</p>
      </form>
      <p>
	<button class="linkButton" id="nextButton" type="submit" v-on:click="nextClick()">✓</button>
      </p>
    </section>
  </body>
</html>
