<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/user/css/meeting_table.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://vuejs.org/js/vue.js" defer></script>
<script src="/user/js/meeting_table.js" defer></script>

</head>

<body>
<div id="content">
<div class="header">
<div class="headertext">
MATCHED!
</div>
</div>
<br>

<div class="bodytext">
<br><br>
</div>

<div class="meetingtext">
<!-- <img src="/user/img/pp_test/stock4.jpeg" alt="Per-Åke" width="250" height="220"> -->
<img v-bind:src="myDatePic" height="300" width="300"></img>
<p> Name: {{ myDate }}</p>
<p> Table: {{table}}</p>

</div>

<section id="buttons">
<button class="mySeat" v-on:click="backClick()">Next Date!</button>
<button class="mySeat" v-on:click="joinSeatClick()">End date!</button>
</section>
<!-- tillagt -->
 <h1 class="centered">My Seat </h1>
  <div
    v-scroll="handleScroll"
    class="box"
  >

 <div id="tableMap">
	    <div v-for="(_,index) in Array(10)" :id="'table' + index" :class="'table ' + index" v-on:dragover="allowDrop($event)" v-on:drop="dropHandler($event)">table{{index + 1}}

	      <div class="matchItem" v-for="(match, matchIndex) in matches" v-if="match.tableNum == index" v-on:dragstart="dragstartHandler($event)" draggable="true" :id="'match '+matchIndex">
		<span id="maleName">{{match.maleName}}</span> <span id="femaleName">{{match.femaleName}}</span>
	      </div>
	      
	    </div>
	  </div>

  </div>
</div>

</body>
</html>