<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/user/css/meeting_list.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="/user/js/meeting_list.js" defer></script>
    <title>Meeting List</title>
  </head>
  <body>
    <div id="pageWrapper">
      <div class="header">
	<div class="headertext">Meeting List</div>
      </div>
      <div id="info">
	<p>Who would you like to share contact information with?</p>
      </div>
      
      <div id="matchesWrapper">

	<div v-for="(prevMatch,index) in userPreviousMatches" class="match" :id="'match' + index">
	  
	  <div class="imgWrapper" >
	    <img class="profileImg" :src="prevMatch.imgPath">
	  </div>
	  <span>{{prevMatch.name}}</span>
	  <div class="shareCheckbox">
	    <input type="checkbox" :id="'checkbox_' + index" :value="prevMatch.name" v-model="checkedDate">
	    <label :for="'checkbox_' + index"><span>Share?</span></label>
	  </div>
	  
	</div>
	
      </div>
      <div id="okButton">
	<button class="linkButton" id="nextButton" type="submit" v-on:click="nextClick()">✔</button>
      </div>
    </div>
    
  </body>
</html>
