<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/user/css/table_placement.css">
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="/user/js/table_placement.js" defer></script>
	<meta charset="UTF-8">
	<title>Table Placement</title>
</head>

<body>
	<section id="content">
		<header>
			<h2>Table Placement</h2>
		</header>
   <div class="wrapper" id="app">
      
      
      <div id="tablePlacement" class="tablePlacementModal">
	<div class="tablePlacementModal-content">
	  <div id="closeModal" v-on:click="closeTablePlacement()">&times</div>
	  <div id="tableMap">
	    <div v-for="(_,index) in Array(10)" :id="'table' + index" :class="'table ' + index" v-on:dragover="allowDrop($event)" v-on:drop="dropHandler($event)">table{{index + 1}}</div>
	  </div>
	  <div id="matchList">
	    <div class="matchItem" v-on:dragstart="dragstartHandler($event)" draggable="true" v-for="match in matches" :id="'match '+match.matchNum">
	      <span id="maleName">{{match.maleName}}</span> <span id="femaleName">{{match.femaleName}}</span>
	    </div>
	  </div>
	  <button id="confirmPlacementButton" class="matchButton" v-on:click="">
	    Confirm
	  </button>
	</div>
      </div>

		<section id="buttons_section">
			<p>
				<button class="linkButton" id="backButton" v-on:click="backClick()">back</button>
			</p>
			<p>
				<button class="linkButton" id="nextButton" type="submit" v-on:click="nextClick()">next</button>
			</p>
		</section>
	</section>
</body>

</html>