body {
    margin: 0;
    padding: 0;
    background-color: #4d2c3b;
}

p {
    color: lightgrey;
}

.wrapper {
    display: grid;
    height: 99vh;
    width: 100vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;   
}

.heartButton {
    width: 100%;
    height: 100%;;
    color: pink;
    background-color: grey;
    border: 0;
    object-fit: contain;
}

.a {

    grid-column: 1/;
    grid-row: 1/ 2;
    background-color: #525252;
    text-align: center;
    margin: 0;
    padding: 0;
}

.boxHeader{
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: #CE6679;
    position: relative;
}

.boxHeadertext{
    margin: 0px 4px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20pt;	
    font-weight: bold;
    color: white;
    position: relative;
    top: 5px;
}

.boxText {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 20pt;
    color: lightgrey;
}

.boxTextBig {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 50pt;
    color: lightgrey;
}



.b {
    grid-column: 2;
    grid-row: 1/ 3;   
    background-color: #525252;
    overflow-x: hidden;
    overflow-y: scroll;

}

/*IGNORE ANYTHING CONTAINING OMEGA, It is the grid inside box b. */
.OMEGA {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin: 0;
    
}

.innerGrid {
    display: grid;
    height: 66vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 15%);
    grid-gap: 3%;
    padding: 3%;
}

.innerGrid .manUser {
    width : 100%;
    height : 100%;
}

.innerGrid .heart {
    width : 100%;
    height : 100%;
}


.innerGrid .femaleUser {
    width : 100%;
    height : 100%;
}

#breakline {
    grid-column: 0;
    
}

.maleButton {
    width : 100%;
    height : 100%;
    text-align:center;
    color: darkblue;
    background-color: #668cce;
    border-radius: 6px;
    font-size: 24pt;
}

.femaleButton {
    width : 100%;
    height : 100%;
    text-align:center;
    color : darkred;
    background-color: #b57e88;
    border-radius: 6px;
    font-size: 24pt;
}

.c {
    grid-column: 3;
    grid-row: 1;
    background-color: #525252;
    text-align:center;
}

.clocktext{
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

#clock{
    text-align: center;
    font-size: 42px;
    color: lightgrey;
}

.d {
    grid-column: 1;
    grid-row: 3;
    background-color: #525252;
    
    text-align: center;
}

.starteventtext{
    font-size: 25px;
}

.e {
    grid-column: 3;
    grid-row: 2;
    background-color: #525252;
    overflow-y: auto;
}

.scheduletext{
    text-align: center;	
    font-size: 25px;
}

footer{
    margin: 10px;
}
.f {
    grid-column: 1;
    grid-row: 2;
    background-color: #525252;
}

.g {
    grid-row: 3;
    grid-column: 3;
    background-color: #525252;
    text-align: center;
    overflow-y: auto;
    color: lightgrey;

}

.h{
    grid-column: 2;
    grid-row: 3/ 4;
    background-color: #525252;
    text-align: center;
}

#startevent {
    background-color:#CE6679; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 6px;
    margin: 0 auto;
}

#matchButton {
    width: 80%;
    background-color:#CE6679; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 6px;
    margin: 0 auto;
}

/* shared nav classes */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #4d2c3b;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.maleNav {
    left: 0;
}

.femNav {
    right: 0;
}

.navName {
    font-size: 50px;
    color: white;
}

.navImg {
    width: 350px;
    height: 250px;
}

.navDates h6 {
    font-size: 20px;
    color: white;
}

.navDates p {
    font-size: 15px;
    color: white;
}

.navBubbles {
    height: auto;
    width: 90%;
    align-content: flex-start;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    background-color: lightgrey;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
}

.navBubbles div {
    height: 100%;
    width: 100%;
}


/* sideNav closebuttons */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.sidenav .closebtnF {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}
