<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../css/EventOverview.css">
  <script src="/socket.io/socket.io.js" defer></script>
	<script src="/vue/vue.js" defer></script>
	<script src="../js/EventOverviewVue.js" defer> </script>
	<script src="../js/EventOverview.js" defer></script>
	<title>Event overview</title>
</head>
<body onload="startTime()">
  <div class="wrapper" id="app">      
    <div class="box a">
      <div class="boxHeader">
	<div class="boxHeadertext">Demo Event</div>
      </div>
      <div id="eventTime" class="boxText">
	<div>14:00 - 16:00</div>
      </div>
      <div id="eventAddress" class="boxText">
	Lägerhyddsvägen 2
      </div>
      <div id="eventCode" class="boxText">
	Code: XYC831
      </div>
    </div>
    <div class="box b">
      <div class="OMEGA">
	<div class="box innerGrid">
	  <div class="box manUser" v-for="user in maleArray">
	    <button class="maleButton" v-on:click="maleClick(user.id)" :id="user.id"> {{user.name}} </button>
	  </div>
        </div>
	<div class="box innerGrid">
	  <div class="box heart" v-for="male in maleArray"> 
	    <input class="heartButton" type="image" src="../img/redheart.png" v-on:click="popup(male.id)" :id="male.image">	 
	  </div>
	</div>
	<div class="box innerGrid">
	  <div class="box femaleUser" v-for="user in femaleArray">
	    <button class="femaleButton" v-on:click="femaleClick(user.id)" :id="user.id"> {{user.name}} </button>
	  </div>
	</div>
      </div>
    </div>
    <div id="mySidenav" class="sidenav maleNav">
      <a href="javascript:void(0)" class="closebtn" v-on:click="closeMaleNav()">&times;</a>
      <div id="mySidenavName" class="navName"></div>
      <img id="mySidenavImg" class="navImg"></img>
      <div id="mySidenavBubbles" class="navBubbles"></div>
      <div id="mySidenavDates" class="navDates"></div>
    </div>
    <div id="mySideFnav" class="sidenav femNav">
      <a href="javascript:void(0)" class="closebtnF" v-on:click="closeFemaleNav()">&times;</a>
      <div id="mySideFnavName" class="navName"></div>
      <img id="mySideFnavImg" class="navImg"></img>
      <div id="mySideFnavBubbles" class="navBubbles"></div>
      <div id="mySideFnavDates" class="navDates"></div>
    </div>
    <div class="box h">
      <br>
      <br>
      <br>
      <button id="matchButton" v-on:click="rematch()"> REMATCH </button> <br>
      <button id="matchButton" v-on:click="unmatch()"> UNMATCH </button>
      
	
    </div>
    <div class="box c">
      <div class= "boxHeader">
	<div class="boxHeadertext"> Time </div>
      </div>
      <div id="clock"></div>
    </div>
    <div class="box d">
      <div class="starteventtext">
	<div class= "boxHeader">
	<div class="boxHeadertext"> Next Phase: </div>
      </div>
	
	<p id="times">
	  <!-- time schedule--> 14:35 </p>
      </div>
      <button id="startevent"  v-on:click="startEvent()"> START EVENT</button>
    </div>
    <div class="box e">
       <div class="boxHeader">
	<div class="boxHeadertext">
	   Schedule	  
	</div>
      </div>
      
      <footer>
	<p> Date 1</p>
	<p> 14:35 - 14:55 </p>
      </footer>
      <hr>
      <footer>
	<p> Date 2</p>
	<p> 15:05 - 15:25 </p>
      </footer>
      <hr>
      <footer>
	<p> Date 3</p>
	<p> 15:35 - 15:55 </p>
      </footer>
      <hr>
    </div>
    <div class="box f">   
      <div class="boxHeader">
	<div class="boxHeadertext"> Current phase</div>
	<br>
	<div class="boxTextBig" id="phase"> Date 1 </div>
      </div>
      

    </div>
    <div class="box g">
      <div class="boxHeader">
	<div class="boxHeadertext">
	   Participants:	  
	</div>
      </div>
	<div id="participants">
	  <br>
    </div>
      </div>
      
</body>

</html>
