<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/EventOverview.css">
  <script src="/vue/vue.js" defer></script>
  <script src="../js/EventOverviewVue.js" defer> </script>
  <!--<h1 class="hostTitle">Welcome to the Event overview!</h1>-->
      <title>Event overview</title>
</head>
<body>
  <div class="wrapper" id="app">      
    <div class="box a">
      asd
    </div>
    <div class="box b">
      <div class="OMEGA">
	<div class="box innerGrid">
	  <div class="box manUser" v-for="user in maleArray">
	    <button class="maleButton" v-on:click="maleClick(user)" :id="user.id"> {{user.name}} </button>
	    <div id="maleSidenav" class="sidenavM">
	    </div>
	  </div>
	</div>
	<div class="box innerGrid">
	  <div class="box heart" v-for="male in maleArray"> 
	    <input class="heartButton" type="image" src="../img/redheart.png">	 
	  </div>
	</div>
	<div class="box innerGrid">
	  <div class="box femaleUser" v-for="user in femaleArray">
	    <button class="femaleButton" v-on:click="femaleClick(user)" :id="user.id"> {{user.name}} </button>
	    <div id="femaleSidenav" class="sidenavF">
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="box h">
      <button v-on:click="rematch()"> REORDER </button> <br>
      
	 </div>
	 
    <div class="box c">
      <h2> WEEW KLOCKA! </h2>
    </div>
    <div class="box d">
      <button> START EVENT</button>
    </div>
    <div class="box e">
      E
    </div>
    <div class="box f">
      F
    </div>
    <div class="box g">
      <button>hejsvejs </button><br>
      <button>hejsvejs </button><br>
       <button>hejsvejs </button><br>
    </div>
  </div>
</body>
</html>
